<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
   
    <span class="menu-spacer"></span>
    <div>

      <a mat-button [routerLink]="'/Home'">Home </a>
      <a mat-button [routerLink]="'/Category'">Category </a>
      <a mat-button [routerLink]="'/Product'"> Product </a>
     

     

    </div>
    <span id="spanwelcome">Welcome</span>
    <div class="flexpend"> <span id="flexpend"></span>
      <button mat-icon-button onClick="window.open('//www.linkedin.com/in/abhi0212')"  class="example-icon favorite-icon"> <mat-icon>favorite</mat-icon></button>
       
     
      <button mat-icon-button onClick="window.open('//github.com/AbhishekSingh-taazaa/')" class="example-icon" >
       <mat-icon>share</mat-icon>
     </button>
   </div>
  </mat-toolbar-row>

  
</mat-toolbar>



<mat-sidenav-container autosize >
  <mat-sidenav #sidenav mode="side" >
   
    <mat-nav-list >

      

      <mat-list-item [routerLink]="'Home'">
        Home <mat-icon mat-list-icon>home</mat-icon>
       
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'/Category'">
       Category  <mat-icon mat-list-icon>category</mat-icon>
        <span *ngIf="isExpanded">Login</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'/Product'">
        Product
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <span *ngIf="isExpanded">Signup</span>
      </mat-list-item>
     
      
<mat-expansion-panel [class.mat-elevation-z0]="true" dense>
    <mat-expansion-panel-header>
      <mat-icon mat-list-icon>category</mat-icon> Caegory 
    </mat-expansion-panel-header>
    <mat-nav-list dense>
       
        <a mat-list-item routerLink="/Category/AddCategory"><mat-icon>add</mat-icon>Add Category</a>
        <a mat-list-item routerLink="/Category/SearchCategory"><mat-icon>search</mat-icon>Search Category</a>
        <a mat-list-item routerLink="/Category/DeleteCategory"><mat-icon>delete</mat-icon>Delete Category</a>
        <a mat-list-item routerLink="/Category/Allcategory"><mat-icon>menu</mat-icon>All Category</a>
    </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel [class.mat-elevation-z0]="true" dense>
  <mat-expansion-panel-header>
    <mat-icon mat-list-icon>shopping_cart</mat-icon> Products
  </mat-expansion-panel-header>
  <mat-nav-list dense>
    <a mat-list-item routerLink="/Product/AddProduct"><mat-icon>add</mat-icon>Add Product</a>
    <a mat-list-item routerLink="/Product/SearchProduct"><mat-icon>search</mat-icon>Search Product</a>
    <a mat-list-item routerLink="/Product/DeleteProduct"><mat-icon>delete</mat-icon>Delete Product</a>
    <a mat-list-item routerLink="/Product/AllProducts"><mat-icon>menu</mat-icon>All Product</a>
  </mat-nav-list>
</mat-expansion-panel>

    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>

  